<div class="card border-info  mt-5 w-75 mx-auto">
    <div class="card-header bg-dark text-white" style="font-size: 25px;text-align: center;">
        Show Details
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="justify-content-md-center mt-5">
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <td width="50%">Field</td>
                            <td width="50%">Value</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Subject Code</td>
                            <td>{{ subject.subjectCode }}</td>
                        </tr>
                        <tr>
                            <td>Subject Name</td>
                            <td>{{ subject.subjectName }}</td>
                        </tr>
                        <tr>
                            <td>Institute Name</td>
                            <td>{{ subject.instituteName }}</td>
                        </tr>
                        <tr>
                            <td>Department Name</td>
                            <td>{{ subject.departmentName }}</td>
                        </tr>
                        <tr>
                            <td>Semester</td>
                            <td>{{ subject.semester }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>